<a href="https://colab.research.google.com/github/rvidals/Analise_Exploratoria_Concatena-o_Pop_HPV_COORTE_CGIAE/blob/main/Analise_Exploratoria_Concatena%C3%A7%C3%A3o_Pop_HPV_COORTE_CGIAE_Atualizado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Código para concatenar vários csv e ordenar a partir do Sexo e o código do Município

In [ ]:
#Importando a biblioteca pandas
import pandas as pd

#Importar os arquivos csv e salvando na variável pop
from google.colab import files
pop = files.upload()

In [ ]:
#Caminho onde serão salvo os arquivos
path = '/content/'

#Caso obte por usar 
#path2 = '/content/PopResidente_SUS/'

li_M = [] # os valores são atribuidos à uma lista
li_F = [] # os valores são atribuidos à uma lista
li_IBGE = [] # o Código do IBGE e nome do município será atribuido a esta lista

# o método key foi usado para chamar os  nomes dos arquivos presentes no google colab
for name in pop.keys():

  #Essa parte é para pegar a faixa etária e renomear a coluna sexo
  df_geral  = pd.read_csv(path+name, encoding='latin1')
  
  sexo = df_geral.iat[1,0]
  sexo = sexo.split(':')[1].replace(' ','')
  
  fEtaria = df_geral.iat[2,0]
  fEtaria = fEtaria.split(':')[1].replace('  ',' ').replace(' ','_')
  
  

  #Essa parte é para pegar o csv que gerará a nava tabela
  # o csv vem com informações além das tabulaeres 
  # Para fazer essa limpeza foi utilizados as flegues skiprows, skipfooter e header
  
  df = pd.read_csv(path+name,
                  encoding='latin1',
                  sep=';',
                  skiprows=5,
                  skipfooter=5,
                  engine='python'
                 )
  df2 = df.rename(columns={"População_residente": sexo+fEtaria})
  
  #Lista onde será salvo as colunas da tabela para concatenar 
  
  if sexo == 'Masculino':
    li_M.append(df2["Masculino"+fEtaria]) # atribuindo as colunas renomeadas à lista
    print(f"{name} - {fEtaria} : {sexo}") #visualizar a execução da extração
  else:
    li_F.append(df2["Feminino"+fEtaria]) # atribuindo as colunas renomeadas à lista
    print(f"{name} - {fEtaria} : {sexo}") #visualizar a execução da extração

li_IBGE.append(df["Município"].str.split(' ',
                                         1,
                                         expand=True).rename(columns = {0: 'COD_MUN',
                                                                       1:'NM_MUN'}))

A134154189_28_143_208.csv - _9_anos : Masculino
A134157189_28_143_208.csv - _10_anos : Masculino
A134159189_28_143_208.csv - _11_anos : Masculino
A134202189_28_143_208.csv - _13_anos : Masculino
A134205189_28_143_208.csv - _14_anos : Masculino
A134207189_28_143_208.csv - _15_anos : Masculino
A134230189_28_143_208.csv - _9_anos : Feminino
A134232189_28_143_208.csv - _10_anos : Feminino
A134236189_28_143_208.csv - _12_anos : Feminino
A134237189_28_143_208.csv - _13_anos : Feminino
A134240189_28_143_208.csv - _14_anos : Feminino
A134242189_28_143_208.csv - _15_anos : Feminino
A134452189_28_143_208.csv - _12_anos : Masculino
A134621189_28_143_208.csv - _11_anos : Feminino

In [ ]:
#Estou inserindo os dados do ibge na lista masculina
li_IBGE_M = li_IBGE + li_M 
#Estou inserindo os dados do ibge na lista masculina
li_IBGE_F = li_IBGE + li_F

#Concatenando os valores em um DataFrame
concat_M = pd.concat(li_IBGE_M , axis=1) # concatenando pelo eixo y = 1
concat_F = pd.concat(li_IBGE_F, axis=1) #Vizualização 

#Inserção da coluna Sexo: M e F
concat_M.insert(2,'Sexo','M')
concat_F.insert(2,'Sexo','F')

In [ ]:
#Renomeando as colunas 

"""Foi feito um print na estrutura de renomeação utilizando os métodos
.columns.values"""

concat_M = concat_M.rename(columns={'COD_MUN': 'COD_MUN',
'NM_MUN': 'NM_MUN',
'Sexo': 'Sexo',
'Masculino_9_anos': '9_anos',
'Masculino_10_anos': '10_anos',
'Masculino_11_anos': '11_anos',
'Masculino_12_anos': '12_anos',
'Masculino_13_anos': '13_anos',
'Masculino_14_anos': '14_anos',
'Masculino_15_anos': '15_anos'})

concat_F = concat_F.rename(columns={'COD_MUN': 'COD_MUN',
'NM_MUN': 'NM_MUN',
'Sexo': 'Sexo',
'Feminino_9_anos': '9_anos',
'Feminino_10_anos': '10_anos',
'Feminino_11_anos': '11_anos',
'Feminino_12_anos': '12_anos',
'Feminino_13_anos': '13_anos',
'Feminino_14_anos': '14_anos',
'Feminino_15_anos': '15_anos'})

#Concatenando as colunas Masculino e Feminino
popConcat = pd.concat([concat_M,concat_F])

#Ordenando as colunas. 
popConcat = popConcat[['COD_MUN','NM_MUN','Sexo',
                       '9_anos','10_anos','11_anos',
                       '12_anos','13_anos','14_anos',
                       '15_anos']]

In [ ]:
#Ordenando as linhas a partir das colunas COD_MUN e Sexo e resetando o index
popResid = popConcat.sort_values(['COD_MUN','Sexo']).reset_index(drop=True)

#Salvando o arquivo final em XLSX
popResid.to_excel('Populacao_9a15anos_HPV_CGIAE.xlsx',
                  sheet_name='Pop_HPV',
                  index=False)

#Visualizando o resultado final
popResid

,COD_MUN,NM_MUN,Sexo,9_anos,10_anos,11_anos,12_anos,13_anos,14_anos,15_anos
0,110001,ALTA FLORESTA D'OESTE,F,151,148,150,151,152,153,156
1,110001,ALTA FLORESTA D'OESTE,M,160,158,160,161,161,162,164
2,110002,ARIQUEMES,F,804,801,814,829,847,871,913
3,110002,ARIQUEMES,M,820,810,813,824,841,867,908
4,110003,CABIXI,F,34,33,33,33,33,32,30
...,...,...,...,...,...,...,...,...,...,...
11135,522220,VILA BOA,M,52,51,48,47,48,50,54
11136,522230,VILA PROPICIO,F,37,34,32,31,31,32,35
11137,522230,VILA PROPICIO,M,42,39,37,36,35,35,35
11138,530010,BRASILIA,F,17993,18263,18728,19516,20274,21277,22545
11139,530010,BRASILIA,M,18983,19245,19668,20410,21123,22092,23311

In [ ]:
#Linha de comando 
#Excluir todos os csv

#!rm *.csv #Tirar o comentário para usar!

In [ ]:
#Linha de comando 
#Listar o que está na pasta PopSUS

#!ls PopSUS/ #Tirar o comentário para usar!

In [ ]:
#Linha de comando
#Compactando os csv

#!zip -r /content/PopSUS.zip /content/PopSUS/* #Tirar o comentário para usar!

# LOOP para polpar tempo e  para criar a lista a ser renomeada

In [ ]:
for colM in concat_M.columns.values:
  rname = colM.split('Masculino_')[-1]
  print(f"'{colM}': '{rname}',")

In [ ]:
for colF in concat_F.columns.values:
  rname = colF.split('Feminino_')[-1]
  print(f"'{colF}': '{rname}',")

# Estruturas de loop não funcionais porém, a lógica aplicada pode ser utilizada em aplicações futuras!

In [ ]:
#Não está funcionando, porém é um exemplo de loop

codIBGE_nmMuni = df['Município'].str.split(' ', 1)
count = 0
cod_ibge = []
nm_mun = []
while count <= len(codIBGE_nmMuni): 
  #print(count)
  c = codIBGE_nmMuni[count][1]
  cod_ibge.append(c)
  n =  codIBGE_nmMuni[count][0]
  nm_mun.append(n)
  count += 1

In [ ]:
#Não está funcionando, porém é um exemplo de loop
codIBGE_nmMuni = df['Município'].str.split(' ', 1)
x = 0
cod_ibge = []
nm_mun = []
for codigos in range(len(codIBGE_nmMuni)):

  c = codigos[x][1]
  cod_ibge.append(c)
  n =  codigos[x][0]
  nm_mun.append(n)
  x += 1